@tailwind base;
@tailwind components;
@tailwind utilities;


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #03334af0 rgba(255, 0, 255, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 100%;
}

*::-webkit-scrollbar-track {
  background: rgba(55, 0, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(133, 23, 82);
  border-radius: 20px;       /* roundness of the scroll thumb */  
}

html,
body {
  overflow: hidden;
  background: linear-gradient(143deg, #000, #012939 50%, #000);
}

main {
  background: #393a47;

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #901cf5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}